body {
  background: rgba(210, 193, 140, 0.29)
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  color: #ffec00;
  font-family: monospace;
}
h2 {
  font-size: 20px;
  color: #ff9604;
}
h3 {
  font-size: 20px;
  color: #ff9604;
}
img {
  text-align: right;
  width: 200px;
  height: 200px;
}
