body {
  background: rgba(210, 193, 140, 0.29)
}
p {
  color: black;
}
h1 {
  font-size: 20px;
  color: #ff9604;
  font-family: monospace;
}
h3 {
  font-size: 20px;
  color: #ff9604;
  font-family: monospace;
}
h4  {
  font-size: 20px;
  color: #ff9604;
  font-family: monospace;
}
h5 {
  font-size: 15px;
  font-family: monospace;
}
img {
  text-align: right;
  width: 200px;
  height: 200px;
   background-color: rgba(0, 0, 0, 0.07)
}
