body {
  background: rgba(210, 193, 140, 0.29)
}
p {
  color: black;
}
h1 {
  border-color: yellow;
  border-width: 5px;
  border-style:dotted;
  font-weight: bold;
  text-align: center;
  color: #ffdf00;
  font-family: cursive; 
}
h2 {
  font-size: 20px;
  color: #ff9604;
  font-family: monospace;
}
h3 {
  font-size: 15px;
  font-family: monospace;
}
img {
  background-origin:inherit;
  background-color: yellow; 
  border-radius:100px;
  text-align: right;
  width: 200px;
  height: 200px;
}
